@import './typography';

html {
  @extend %body;
  line-height: 1.15;
  text-size-adjust: 100%;
  height: 100%;
  overflow: auto;
  min-width: 375px;
  background-color: #b8fcce;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url('../assets/images/main-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

* {
  box-sizing: border-box;
}
