%body {
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

%nav-link {
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

%caption1 {
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

%caption2 {
  font-family: var(--font-montserrat);
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
