@import '@/styles/mixins/media';

.root {
  display: flex;
  padding: 30px 0;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;

  @include tablet-portrait {
    gap: 55px;
  }
}

.langSwitcher {
  position: relative;
}

.connectWallet {
  position: relative;
}

.desktopNavBar {
  display: none;

  @include tablet-portrait {
    display: flex;
  }
}

.mobileMenu {
  display: flex;
  margin-left: auto;

  @include tablet-portrait {
    display: none;
  }
}
