.root {
  display: flex;
  padding: 30px 0;
}

.container {
  display: flex;
  align-items: center;
  gap: 55px;
  justify-content: flex-end;
}

.langSwitcher {
  position: relative;
}

.connectWallet {
  position: relative;
}
