// Breakpoints

// mobile small <
$breakpoint-xs: 375;
// >= mobile <
$breakpoint-sm: 640;
// >= tablet-portrait <
$breakpoint-md: 960;
// >= tablet-landscape <
$breakpoint-lg: 1024;
// >= desktop
$breakpoint-xl: 1280;
// >= desktop
$breakpoint-xxl: 1440;
// >= desktop

// breakpoints cascading min
@mixin mobile {
  @media (min-width: #{$breakpoint-xs}px) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (min-width: #{$breakpoint-sm}px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: #{$breakpoint-md}px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-lg}px) {
    @content;
  }
}

@mixin desktop-lg {
  @media (min-width: #{$breakpoint-xl}px) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: #{$breakpoint-xxl}px) {
    @content;
  }
}
